body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spinner-grow {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70px !important;
  height: 70px !important;
  color: rgb(226, 0, 116) !important;
}

tr {
  white-space: nowrap;
}

.navbar_por {
  background-color: rgb(226, 0, 116);
  height: 75px;
  padding-bottom: 0px !important;
}

.nav-items_text {
  color: white !important;
  font-size: 20px !important;
  font-weight: 900;
}

.nav-tabs-por {
  border-bottom: 0px !important;
}

.nav-item {
  color: white;
}

.nav-font-text {
  font-size: 20px !important;
}

.submit_style {
  background-color: rgb(226, 0, 116) !important;
  border: 1px solid rgb(226, 0, 116) !important;
}

.logo_image {
  display: flex;
  justify-content: center;
  margin-top: 21px;
}

.dropdown-color {
  background-color: rgb(226, 0, 116) !important;
  box-shadow: none !important;
  border: 1px solid rgb(226, 0, 116) !important;
}

.dropdown-item:active {
  background-color: rgb(226, 0, 116) !important;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-nav {
  border-radius: 18px !important;
  box-shadow: none !important;
}

.search-icon {
  border-bottom-right-radius: 50% !important;
  border-top-right-radius: 50% !important;
  border: 1px solid black !important;
  cursor: pointer;
}

.edit-icon {
  font-size: 22px;
  margin-right: 20px;
  cursor: pointer;
  color: rgb(226, 0, 116);
}

.delete-icon {
  font-size: 22px;
  cursor: pointer;
  color: rgb(226, 0, 116);
}

.header {
  position: sticky;
  top: 0;
  background-color: #eeeeee !important;
}

.table-responsive {
  height: 710px;
  overflow: auto;
  margin-top: 2rem;
}

::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, 0.4);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.navbar {
  background-color: #eeeeee !important;
}

.button-light {
  border: 1px solid black;
  font-weight: 600;
  color: black !important;
}

.navbar-search {
  width: auto !important;
}

.navbar-search input {
  border-radius: 20px;
  border: 1px solid black !important;
  box-shadow: none !important;
}

.button-dark {
  background-color: rgb(226, 0, 116) !important;
  border-color: rgb(226, 0, 116) !important;
  font-weight: 600 !important;
  color: white !important;
  box-shadow: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#table-no-results {
  font-weight: 800;
  font-size: 20px;
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.edit-header p {
  font-size: 20px;
  font-weight: 600;
}

#input-group-dropdown-1 {
  background-color: rgb(226, 0, 116) !important;
  box-shadow: none !important;
  border: none !important;
}

.lds-facebook {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(226, 0, 116);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
